<%= form_with(model: [@category, @transaction], url: category_its_transaction_path(@category, @transaction), method: :patch) do |form| %>
  <div class="flex justify-between items-center h-11 bg-[#3778c2] text-white mb-10"> 
    <div class="ml-4 cursor-pointer">
      <%= link_to "<", category_its_transactions_path(@category) %>
    </div>
    <h2 class="uppercase">
      Edit Transaction
    </h2>
    <div class="actions mr-4 cursor-pointer">
      <%= form.submit 'Save' %>
    </div>
  </div>

  <div class="flex flex-col items-end justify-center w-full bg-white border-2">
    <div class="field w-[99%]">
      <%= form.text_field :name, placeholder: "Name", required: true , autocomplete: "name", class: "mb-2 h-10 w-full border-2 border-l-white border-t-white  text-gray-400 outline-none" %>
    </div>

    <div class="field w-[99%]">
      <%= form.text_field :amount, placeholder: "Amount", required: true , autocomplete: "amount", class: "h-10 w-full border-2 border-l-white text-gray-400 outline-none" %>
    </div>
  </div>
<% end %>
