<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="flex justify-between items-center h-11 bg-[#3778c2] text-white mb-10"> 
    <div class="ml-4 cursor-pointer">
      <%= link_to "<", unauthenticated_root_path %>
    </div>
    <h2 class="uppercase">
      Log In
    </h2>
    <div class="actions mr-4 cursor-pointer">
      <%= f.submit "Log in" %>
    </div>
  </div>

  <div class="flex flex-col items-end justify-center w-full bg-white border-2 border-t-gray-400  border-b-gray-400">
  <div class="field w-11/12">
    <%= f.email_field :email, required: true , autofocus: true, autocomplete: "email", placeholder:"Email" , class: "mb-2 h-10 w-full border-2 border-l-white border-t-white border-b-gray-400  text-gray-400 outline-none" %>
  </div>

  <div class="field w-11/12">
    <%= f.password_field :password, required: true , placeholder: "Password", autocomplete: "new-password", class: "mt-2 h-10 w-full border-2 border-l-white border-t-gray-400 border-b-white  text-gray-400 outline-none" %>
  </div>

  </div>
  <div class="my-5 w-full h-11 text-center">
    <a href="#" class="text-gray-400 hover:underline">Forgot Password?</a>
  </div>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

