<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              bluecliff: '#3778c2',
              green1: '#5fb523',
              grey1: '#434b54',
            }
          }
        }
      }
    </script>
  </head>

  <body class="bg-gray-100">
    <header>
      <%# <%= button_to "Sign Out", destroy_user_session_path, method: :delete %> 
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
