<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              bluecliff: '#3778c2',
              green1: '#5fb523',
              grey1: '#434b54',
            }
          }
        }
      }
    </script>
  </head>

  <body class="bg-gray-100">
    <header class="flex justify-center">
        <% if notice %>
         <div class="absolute top-8 text-center transition duration-500 ease-in-out border-2 rounded-full border-gray-100 py-2 px-4 bg-white">   
          <p class="notice"><%= notice %></p>
         </div>
        <% elsif alert %>
         <div class="absolute top-8 text-center transition duration-500 ease-in-out border-2 rounded-full border-gray-100 py-2 px-4 bg-white">   
          <p class="alert"><%= alert %></p>
         </div>
        <% end %>
    </header>

    <%= yield %>
  </body>
</html>
